<h1><%= @user.full_name %></h1>
<h6> <%= pluralize(@user.views, 'view') %> </h6>
    <ul>
        <li><%= @user.address.street.titleize %></li>
        <li><%= @user.address.city.titleize %></li>
        <li><%= @user.address.state.titleize %></li>
        <li><%= @user.address.zip %></li>
        <li><%= @user.address.country.titleize %></li>
    </ul>
